.navbar-brand{
    /*color:white;*/
    font-size: medium;
    color: #6c757d;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 16px
}

.navbar-nav .nav-link{
    font-size: medium
}