<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.ReservationMapper">

<select id="reserveList" parameterType="map"  resultType = "map">
    select b.mbr_seq, a.rsv_id, a.rsv_number, b.mbr_nm,b.mbr_email,b.mbr_birthdate, c.gm_date, d.std_name, e.team_name as team_away, f.team_name as team_home, b.myteam, b.team_logo
    from reservation as a
    inner join game as c
    inner join stadium as d
    inner join team as e
    inner join team as f
    right outer join (select b.mbr_seq,b.mbr_id, b.mbr_nm, b.mbr_email,b.mbr_birthdate,  g.team_name as myteam ,g.team_logo
    from member b left outer join team g
    on b.team_id = g.team_id) as b
    on a.mbr_seq = b.mbr_seq
    and a.gm_id = c.gm_id
    and c.std_id = d.std_id
    and c.team_id = e.team_id
    and c.team_id2 = f.team_id
    <where>
        <if test="mbr_id!=null">AND b.mbr_id=#{mbr_id}</if>
        <if test="mbr_seq!=null">AND b.mbr_seq=#{mbr_seq}</if>
    </where>
</select>

<select id="mbr_seq" parameterType="map" resultType="int">
    select mbr_seq
    from member
    where mbr_id = #{mbr_id}
</select>

<insert id="ticketInsert" parameterType="map">
    insert into reservation (rsv_number,mbr_seq, gm_id)
                values(nextval('reservation_seq'), #{mbr_seq}, #{gm_id})
</insert>

<update id="gameReserveUpdate" parameterType="map">
    <!--
        gm_reserve를 +1 또는 -1 업데이트하는 동적 쿼리.
        isAddOne 변수가 true이면 +1, false이면 -1 적용.
    -->
    <choose>
        <when test="isAddOne">
            update game
            set gm_reserve = gm_reserve + 1
            where gm_id = #{gm_id};
        </when>
        <otherwise>
            update game
            set gm_reserve = gm_reserve - 1
            where gm_id = #{gm_id};
        </otherwise>
    </choose>
</update>

<delete id="reservationDelete" parameterType="map">
    delete from reservation
    where rsv_id = #{rsv_id};
</delete>
</mapper>