<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.TicketMapper">


<select id="ticketList" parameterType="map"  resultType = "map">
    SELECT a.gm_id, a.gm_total, a.gm_reserve, a.gm_date,
    b.team_name AS team_away, c.team_name AS team_home,
    d.std_name
    FROM game AS a
    INNER JOIN team AS b ON a.team_id = b.team_id
    INNER JOIN team AS c ON a.team_id2 = c.team_id
    INNER JOIN stadium AS d ON a.std_id = d.std_id
    <where><!--/*동적으로 gm_date값이 있을때, gm_id 값이 존재할때를 나눠서 출력함*/-->
        <if test="gm_date != null">
            AND gm_date LIKE #{gm_date}
        </if>
        <if test="gm_id != null">
            AND gm_id LIKE #{gm_id}
        </if>
    </where>
</select>

</mapper>










